body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    
}
.container{
    display: flex;
    padding: 20px;
    justify-content: center;
}


.breadcrumb {
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    background: transparent;
}

.breadcrumb a {
    text-decoration: none;
    color: #9a5c7c;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.breadcrumb a:hover{
    color: #e386b8; 
    text-decoration: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: calc(100% - 280px);
    padding: 20px;
}

.product {
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product h4 {
    font-size: 16px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    color: #555;
}

.product button {
    background-color: #af6d95;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #cca3bd;
    color: black;
}

.product {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}


.product:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 105, 180, 0.4); /* Pink glow effect */
}


.add-to-cart {
    padding: 8px;
    width: 100%;
    background-color: #af6d95;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #9a5c7c;
}
